@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome code first approch </h1>
    <p>Display  Entity framework Codefirst  approch </p>
    <p><a class="btn btn-primary text-white"
          href="/student/index">click here  to View</a></p>
</div>
